/node_modules
/public/hot
/public/upload
/storage/*.key
/vendor
/.idea
/storage/framework
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock